// navbar-conatiner
$nav-color:rgb(29,140,248);
$nav-width:100%;
$nav-height:13vh;
$nav-padding:0px 200px;
$img-height:80px;

//list
$list-padding:10px;

//bodybackground
// $primary-bg:rgb(23,25,65);
// $bodyfontcolor:rgb(255, 255, 255);
// $bodyfontsize:70px;


// $cube-color-main:rgb(35,62,155);


$primary-bg:rgb(23,25,65);
$bodyfontcolor:rgb(255, 255, 255);
$bodyfontsize:70px;


$cube-color-main:rgb(35,62,155);

//icons
$icon-size:20px;



//services
$h1-size:22px;
$para-size:10px;
$main-padding:50px 150px 50px 150px;
$box-padding:0px 30px;
$font-wg:500;
$font-wg-para:200;
// $para-color:rgb(165, 176, 183);
$para-color:darken($bodyfontcolor, 20%);

//icons
$iconhtml:rgb(202,70,181);
$iconsearch:rgb(229,127,102);
$iconspeak:rgb(0,217,175);
